.CodeInsert
{
	background-color:		#111;

	border:				solid 0.05em #000;
	box-shadow:			0em 0em 0.05em 0.05em #272727;

	width:				80%;

	margin:				1em auto	
}


.CodeInsert header
{	
	background-color:		#171717;

	padding:			0.25em;

	border-bottom:			solid 0.05em #000;
}

.CodeInsert header span.CILang
{
	float:				right;
}
.CodeInsert pre
{
	box-shadow:			inset 0em 0em 1.25em -.5em #000;

	margin:				0em;
	padding:			1em;
}
.CodeInsert img
{
	width:				100%;
}

.CodeInsert h3:first-child
{
	margin-top:			2em;
}
